
html, body { height: 100% }

body {
    
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.5em;
    background-image: linear-gradient(#2ca6ff, #b2cef9);

}

button {
    font: inherit;
    padding: 10px 25px;
    min-width: 300px;
    border-radius: 500px;
    background-color: #50cc75;
    border: 3px solid #47b141;
    cursor: pointer;
}

#sun {
    
    position: absolute;
    z-index: -1;

    border-radius: 50%;
    background-image: radial-gradient(circle at 100% 0, #ffdd2c, #ff8a01);

    transition: width 1s, height 1s, top 1s, left 1s;

    .face {

        position: absolute;
        top: 25%;
        left: 32.5%;

        width: 35%;
        height: 35%;
        background-image: url('../faces/default.svg');
        background-size: contain;
        background-repeat: no-repeat;

    }

}

body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.cloud {

    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        background-color: #fff;
        border-radius: 500px;   
    }

}

#start {

    .sun {
        width: 400px;
        height: 400px;
        margin-bottom: -100px;
    }

    .cloud {

        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            padding: 10px 25px;
            z-index: 0;
        }

        h1 {
            
            margin: 0;

            font-family: 'Cherry Bomb One', cursive;
            font-weight: normal;
            font-size: 2.5em;

            padding: 10px 50px;

        }

        :first-child {
            margin-bottom: -20px;
            align-self: flex-start;
            margin-left: 50px;
        }

        :last-child {
            margin-top: -20px;
            align-self: flex-end;
            margin-right: 50px;
        }

    }

}

#intro, #note, #end {

    .sun {
        width: 200px;
        height: 200px;
        margin-bottom: -60px;
        margin-right: 150px;
    }

    .speech {

        position: relative;
    
        background-color: #fff;
        padding: 25px;
        border-radius: 25px;
        max-width: 400px;
        text-align: justify;
    
        &::before {
            content: '';
            position: absolute;
            top: -100px;
            right: 60px;
            width: 100px;
            height: 100px;
            background-image: url('../speech.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0 40px;
        }
    
    }

}

#game {

    .sun {
        width: 200px;
        height: 200px;
        margin-right: 200px;
        margin-bottom: -20%;
    }

    .cloud {

        .round {
            padding: 15px 25px;
            margin-bottom: -15px;
            z-index: 0;
            align-self: flex-end;
            margin-right: 40px;
        }
        
        .question {
            font-size: 1.2em;
            padding: 15px 50px;
            max-width: 350px;
            text-align: center;
            border-radius: 50px;
        }

    }

    .options {

        display: flex;
        flex-direction: column;
        gap: 15px;

        &.disabled { pointer-events: none }

        .amarelo {
            background-color: #fff976;
            border-color: #dbd454;
        }

        .azul {
            background-color: #5aa0ff;
            border-color: #316cbf;
        }

        .indiferenciado {
            background-color: #9f664d;
            border-color: #754b39;
        }

        .outros {
            background-color: #ff4c4c;
            border-color: #9d3636;
        }

        * { position: relative }

        ::before {
            content: '';
            
            position: absolute;
            top: calc(50% - 20px);
            right: -60px;
            
            height: 40px;
            width: 40px;
            
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            transform: scale(1.2);
            opacity: 0;
            pointer-events: none;
            transition: transform .3s, opacity .3s;

        }

        .correct::before, .wrong::before {
            transform: scale(1);
            opacity: 1;
        }

        .correct::before { background-image: url('../correct.svg') }
        .wrong::before { background-image: url('../wrong.svg') }

    }

}